.main-box {
  border: 1px solid red;
  height: 200px;
  width: 280px;
  border-radius: 6px;
}

.image-box {
  border: 1px solid green;
  height: 150px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.user-picture {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid rgb(38, 0, 128);
  align-self: flex-start;
  margin: 3px 0 0 3px;
}

.div1 {
  border: 1px solid rgb(0, 128, 124);
  height: 250px;
  width: 320px;
  float: left;
}

.div2 {
  border: 1px solid rgb(0, 128, 124);
  height: 250px;
  width: 320px;
  float: left;
  margin-left: 50px;
}

a {
  text-align: center;
  margin: 200px 0 0 50px;
}

.link_box {
  display: flex;
  margin-top: 300px;
}

.main {
  display: flex;
}

.menu {
  height: 98vh;
  width: 18%;
  border: 1px solid rgba(0, 0, 0, 0.143);
  border-radius: 5px;
  margin-top: 0px;
}

.board {
  border: 1px solid rgba(206, 58, 58, 0.811);
  height: 98vh;
  width: 82%;
}

#card {
  border: 1px solid red;
  height: 200px;
  width: 280px;
  border-radius: 6px;
  position: fixed;
}

.dropZone {
  height: 200px;
  width: 180px;
  border-radius: 6px;
  border: 2px solid rgba(225, 255, 0, 0.828);
  margin: 20px;
}

.main-js-2 {
  display: flex;
  justify-content: space-between;
  margin: 40px 60px;
}

.dragElement {
  height: 80px;
  width: 140px;
  border: 2px solid rgba(0, 204, 255, 0.828);
  border-radius: 6px;
}

h2,
h3,
h5 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hoverOver {
  transition: 0.3s ease-out;
  border: solid 5px #2e2a9d;
}

/* Carousel */

.carousel-container {
  height: 98dvh;
  width: 100dvw;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  height: 98dvh;
  width: 600dvw;
}

.big_card_1 {
  background-image: url(../../images/A\ Tailor\ for\ Ladies.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  padding-top: 80dvh;
  width: 100dvw;
}

.big_card_2 {
  background-image: url(../../images/Giulia.jpg);
  display: flex;
  padding-top: 80dvh;
  width: 100dvw;
  background-size: contain;
}

.big_card_3 {
  background-image: url(../../images/girotondo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  padding-top: 80dvh;
  width: 100dvw;
}

.big_card_4 {
  background-image: url(../../images/Aspettando\ Godot.jpg);
  background-size: 26%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  padding-top: 80dvh;
  width: 100dvw;
}

#prevBtn {
  position: absolute;
  top: 92%;
  right: 8%;
  z-index: 10;
  opacity: 0.8;
  cursor: pointer;
}

#nextBtn {
  position: absolute;
  top: 92%;
  right: 5%;
  z-index: 10;
  opacity: 0.8;
  cursor: pointer;
}

.description .title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
}

.description p {
  font-family: "Space Mono", monospace;
  font-weight: 100;
  font-size: 14px;
}

.card .info p {
  height: fit-content;
  width: fit-content;
  padding-left: 8dvh;
  position: absolute;
}

.card .info .title {
  top: 74%;
  font-size: 42px;
}

.card .info .location {
  top: 80%;
  font-size: 38px;
}

.card .info .plays {
  top: 44%;
  font-size: 24px;
  font-weight: 400;
}
